<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Community. Growth. Change.</h1>
            <hr>
            <p>We're building a community of LA County employees who want to level up their skills, change the status quo, and create positive change.</p>
            <p>To kick off 2020, we are focusing on expanding our data science skills! Put together a team or fly solo to sign up for our Data Science Datathon. Learn from your peers, use a real dataset from MIT, and compete for the title of TOP DATA MODEL!</p>
            <a href="https://forms.gle/cfy3c5nmBXd8yZyM9" class="btn btn-primary btn-xl">Find out more</a>
            <!--<a href="#what-we-do" class="btn btn-primary btn-xl page-scroll">It's TEA time.</a>-->
        </div>
    </div>
</header>
