<section class="bg-primary" id="join">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Interested In Joining Us?</h2>
                <hr class="light">
                <p class="text-faded">We promise not to spam you, but we WILL tell you about our upcoming classes, workshops, talks, mixers, and fundraisers.  We'll also make sure you're informed about upcoming local events and job opportunities.</p>
                <a href="#" class="btn btn-default btn-xl">Sign Me Up!</a>
            </div>
        </div>
    </div>
</section>
