<section class="no-padding" id="programs">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/jo-szczepanska-5aiRb5f464A-unsplash.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project Management
                            </div>
                            <div class="project-name">
                                Upcoming: Intro to the PMP Framework
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/clint-adair-BW0vK-FA3eg-unsplash.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                Upcoming: Intro to Data Science
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Web Development
                            </div>
                            <div class="project-name">
                                Upcoming: Intro to GitHub
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
