<section id="program-descriptions">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list wow bounceIn text-primary"></i>
                    <h3>Project Management</h3>
                    <p class="text-muted">
                        1/14 - PMP Framework<br><br>
                        1/19 - Scope Management<br><br>
                        2/12 - Stakeholder Management<br><br>
                        2/26 - Quality Management<br><br>
                        3/11 - Risk Management<br><br>
                        3/25 - Communication Management<br><br>
                        4/08 - Cost Management<br><br>
                        4/22 - Schedule Management<br><br>
                        5/06 - Resource Management<br><br>
                        5/20 - Procurement Management<br><br>
                        6/10 - Integration Management
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chart-bar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Data Science</h3>
                    <p class="text-muted">
                        1/22 - Intro to Data Science<br><br>
                        2/05 - Datathon Pt. 1: Formulating researchable questions and datasets at a glance<br><br>
                        2/19 - Datathon Pt. 2: Getting to know your data, setting up for machine learning<br><br>
                        2/27 - Datathon Pt. 3: Work on your own data project<br><br>
                        3/02 - Datathon Finale: Final model submission<br><br>
                        3/18 - Datathon Project Award Ceremony<br><br>
                        4/01 - Learning the Basics Pt. 1<br><br>
                        4/15 - Learning the Basics Pt. 2<br><br>
                        4/29 - Learning the Basics Pt. 3<br><br>
                        5/13 - Learning the Basics Pt. 4<br><br>
                        5/27 - Learning the Basics Pt. 5<br><br>
                        6/17 - Learning the Basics Pt. 5
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Development</h3>
                    <p class="text-muted">
                        Intro to GitHub - For programmers and non-programmers alike: what is it and why you should learn it<br><br>
                        Hands-on GitHub Practice – Learn by publishing your own website, no programming necessary<br><br>
                        GitHub for Collaboration – Unleash the power of GitHub for collaboration<br><br>
                        Git/GitHub Command Line Basics – Don’t be afraid to commit to the command line
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
