<section id="program-descriptions">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-list wow bounceIn text-primary"></i>
                    <h3>Project Management</h3>
                    <p class="text-muted">
                        PMP Framework<br><br>
                        Scope Management<br><br>
                        Stakeholder Management<br><br>
                        Quality Management<br><br>
                        Risk Management<br><br>
                        Communication Management<br><br>
                        Cost Management<br><br>
                        Schedule Management<br><br>
                        Resource Management<br><br>
                        Procurement Management<br><br>
                        Integration Management
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chart-bar wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Data Science</h3>
                    <p class="text-muted">
                        Intro to Data Science<br><br>
                        Datathon Pt. 1: Formulating researchable questions and datasets at a glance<br><br>
                        Datathon Pt. 2: Getting to know your data, setting up for machine learning<br><br>
                        Datathon Pt. 3: Work on your own data project<br><br>
                        Datathon Finale: Final model submission<br><br>
                        Datathon Project Award Ceremony<br><br>
                        Learning the Basics Pt. 1<br><br>
                        Learning the Basics Pt. 2<br><br>
                        Learning the Basics Pt. 3<br><br>
                        Learning the Basics Pt. 4<br><br>
                        Learning the Basics Pt. 5<br><br>
                        Learning the Basics Pt. 5
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Web Development</h3>
                    <p class="text-muted">
                        Intro to GitHub - For programmers and non-programmers alike: what is it and why you should learn it<br><br>
                        Hands-on GitHub Practice – Learn by publishing your own website, no programming necessary<br><br>
                        GitHub for Collaboration – Unleash the power of GitHub for collaboration<br><br>
                        Git/GitHub Command Line Basics – Don’t be afraid to commit to the command line
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
