<section id="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Community</h3>
                    <p class="text-muted">We are here to create a community that shares, learns, and lifts each other up.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tree wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Growth</h3>
                    <p class="text-muted">We are here to support each other's growth in skills, knowledge, and career.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Change</h3>
                    <p class="text-muted">We are here to create positive change in our workplace, lives, and communities.</p>
                </div>
            </div>
        </div>
    </div>
</section>
